.grid .b-field-container {
  display: inline-block;
}

.grid-diagram--node {
  float: left;
  border: 1px solid oklch(0.37 0.013 285.805);
  background-color: oklch(0.21 0.006 285.885);
  position: relative;
}

.grid-diagram--node.obstacle {
  background-color: oklch(0.37 0.013 285.805);
}

.grid-diagram--node.highlight {
  background-color: oklch(0.271 0.105 12.094);
}
/*
.grid-diagram--edge {
  position: absolute;
}
*/